@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
.background-zeit {
    font-family: 'Oswald', sans-serif;
    background-color: #2F6878;
    color: white;
}
.background-white {
    font-family: 'Oswald', sans-serif;
    color: #2F6878;
}
.wrap-white {
    background-color: #ffffff;
}
.wrap-gray {
    background-color: #E4E4E4;
}
p {
    font-family: 'Oswald', sans-serif;
    color: #2F6878;
}
.fontTitle {
    
    /* font-size: 25.6px; */
    font-weight: 900;
}